/*--------карточки achievement-----------*/
.cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.cards__item {
	/*так сделал я*/
	display: flex;
	flex-wrap: wrap;

	/* так будет лучше добавить эту запись, что бы не использовать padding-left для .cards__body
	из-за которого при уменьшении окна карточка с текстом слишком узкая даже под карточкой с картинкой*/
	align-items: center; /*flex-элемент с текстом будет по центру, не нужно ему отдельно задавать align-self*/
	justify-content: space-between; /*flex-элемент с текстом которому задали basis будет прижат к правому краю а между flex-элементами будет нужный нам одступ по макету*/
	gap: 20px;/*страховочный одступ при уменьшении окна что бы flex-элементы не слиплись*/
}
.cards__image {
	flex: 0 0 62.1666667%;
	overflow: hidden;
}
.cards__image img{
	max-width: 100%;
	transition: all 0.8s;
}
.cards__body {
	/*---так сделал я, что при уменьшении окна не совсем красиво смотрится---*/
	/*flex: 0 0 37.8333333%;
	padding-left: 120px; /*этот padding делает карточку с текстом слишком узкой когда она переходит на новый ряд по картинку*/
	/*align-self: center;*/

	/*----лучше сделать так, тогда карточка с текстом будет желаемого нами размера и даже тогда когда перейдет на другой ряд под картинку---*/
	flex: 0 1 334px;
}
.cards__text{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.cards__title {
	color: var(--grayscale-50, #333);
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	transition: color 0.5s;
}
.cards__subtitle {
	color: var(--grayscale-10, #9C9C9C);
}
/*-------------------*/
/*----------текстовые карточки room------------*/
.text-card__body{
	flex: 0 0 50%;
	padding: 0 16px;
}
.text-card__item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	row-gap: 24px;
	color: #9C9C9C;
}
.text-card__title {
	color: #333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	transition: color 0.5s;
}
.text-card__overview {
	flex-grow: 1;
	padding-bottom: 6px;
}
.date {
	display: inline-block;
	margin-right: 80px;
}
/*------------------*/
/*----------карточки room с изображением-----------*/
.image-card__body {
	flex: 0 0 50%;
	padding: 0 16px;
}
.image-card__body--basis{
	/*flex-basis: 100%; --- здесь лучше поставить flex: 0 1 auto и изображение будет автоматически принимать свой реальный размер и сможеь уменьшаться----*/
	flex: 0 1 auto;
}
.image-card__item img{
	max-width: 100%;
}