@import url("reset.css");
@import url("footer.css");
@import url("header.css");
@import url("common.css");
body{
	font-family: 'Poppins', sans-serif;
}
[class *="__container"]{
	max-width: 1285px;
	margin: 0 auto;
}
.blog-interior__page-header{
	padding-top: 192px;
	padding-bottom: 40px;
	margin-bottom: 100px;
	background: url("../img/page-header.webp") 50%/cover no-repeat;
}
.article__nav{
	margin-bottom: 45px;
}
[class*="article__section"]{
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 31px;
}
.article__section-3,
.article__section-6,
.article__section-9{
	margin-right: 0px;
}
.blog-interior__article{
	margin-bottom: 100px;
}
.trending__title{
	margin-bottom: 45px;
}
.trending__section-1{
	max-width: 817px;
	background: url("../img/trending1.webp") 50%/cover no-repeat;
	padding: 315px 424px 50px 50px;
}
.section__text--properties-size{
	max-width: 343px;
}
.section__text--properties-size h2{
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
	color: #E5E5E5;
	margin-bottom: 15px;
}
.section__text--properties-size p{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
	color: #F8F9FA;
}
.section--padding{
	padding: 315px 50px 50px;
}
.section__text--properties{
	max-width: 293px;
	margin: 0 auto;
}
.section__text--properties h2{
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
	color: #E5E5E5;
	margin-bottom: 15px;
}
.section__text--properties p{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
	color: #F8F9FA;
}
.trending__section-2{
	background: url("../img/trending2.webp") 50%/cover no-repeat;
}
.trending__section-3{
	background: url("../img/trending3.webp") 50%/cover no-repeat;
}
.trending__section-4{
	background: url("../img/trending4.webp") 50%/cover no-repeat;
}
.trending__section-5{
	background: url("../img/trending5.webp") 50%/cover no-repeat;
}
[class*="trending__section"]{
	display: inline-block;
	margin-right: 23px;
	margin-bottom: 30px;
}
.blog-interior__trending{
	margin-bottom: 100px;
}
.links--footer{
	color: rgba(248, 249, 250, 0.5);
}
.links--article{
	color: #C4C4C4;
}